body{
    background-color: bisque;
    font-size: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: cadetblue;
}

.ico{
    width: 100%;
    cursor: pointer;
    transition-duration: 500ms;
}
.comp{
    border-radius: 25px;
    background-color: gray;
    image-resolution: 10%;
    border: 1rem solid rgb(204, 204, 204);
    
}
.comp1{
    cursor:not-allowed !important; 
}
.overlayed {
    display: block;
    position: fixed; /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }